.pageHeader {
  display: flex;
  column-gap: 32px;

  list-style: none;
}

.headerItem {
  padding: 8px 16px;
  cursor: pointer;

  background-color: #eee;
}

.headerBtn {
  background-color: transparent;
  border: none;

  cursor: pointer;
}